*.swp
*.swo
emacs/.config/emacs/auto-save-list
emacs/.config/emacs/elpa
emacs/.config/emacs/history
emacs/.config/emacs/places
emacs/.config/emacs/projectile-bookmarks.eld
emacs/.config/emacs/recentf
emacs/.config/emacs/transient
emacs/.config/emacs/octaspire/desktop/.emacs*
