# Based on http://blog.refu.co/?p=1296 and http://wikemacs.org/wiki/Emacs_server#Linux

[Unit]
Description=Emacs

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(progn (setq kill-emacs-hook 'nil) (kill-emacs))"
Restart=always

TimeoutStartSec=0

[Install]
WantedBy=default.target
